/* static START */
* {
	margin:0;
	padding:0;
}

body {
	background:#BEC3C6 url(images/bg.jpg) repeat-x;
	color:#555;
	font-family:Verdana,"BitStream vera Sans",Helvetica,Sans-serif;
	font-size:12px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	letter-spacing:-0.05em;
	font-family:Arial;
}
h1 {font-size:200%;}
h2 {font-size:170%;}
h3 {font-size:150%;}
h4 {font-size:130%;}
h5 {font-size:110%;}
h6 {font-size:100%;}
img {
	border:0;
}
img.sided {
	background:#FFF;
	border:1px solid #CCC;
	padding:3px;
}
small {
	font-size:10px;
}
a:hover img.sided {
	border-color:#A6A6A6;
}
a {
	color:#2970A6;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

.fixed, .clear {
	clear:both;
}
input.textfield, 
textarea {
	
	border:1px solid #A6A6A6;
	padding:2px 1px;
	font-size:12px;
}

/* layout START */
#wrap {
	/* background:url(images/light.gif) center top no-repeat; */
    background:url(images/bck_female_hb.png);
	padding:20px 0;
}
#container {
	margin:0 auto;
	width:936px;
}
/* layout END */

/* header START */
#header {
	background:url(images/header_female_hb.png) 0 0 no-repeat;
	height:90px;
	border-bottom:1px solid #A6A6A6;
}
#caption {
	padding:25px 30px 0;
}
#title a {
	text-decoration:none;
	color:#FFF;
	height:30px;
	display:block;
	font-family:"Trajan Pro";
	letter-spacing:0;
}

#tagline {
	color:#FFF;
	border-top:1px solid #FFF;
	text-decoration:none;
	font-size:10px;
	float:left;
	padding:0 3px;
}
#header .banner {
	float:right;
	padding:15px 15px 0;
	color:#999;
}
/* header END */

/* navigation START */
#navigation {
	background:#FFF;
	border-bottom:1px solid #A6A6A6;
}
#menus li {
	display:inline;
	list-style:none;
}
#menus li a {
	background:transparent url(images/menu.gif) no-repeat;
	display:block;
	color:#382E1F;
	height:31px;
	line-height:31px;
	padding:0 20px;
	margin-left:-10px;
	text-decoration:none;
	font-size:11px;
	float:left;
	z-index:1;
}
#menus li a:hover, 
#menus li a.current {
	background-position:0 -31px;
}
#menus li.current_page_item a, 
#menus li.current-cat a {
	background-position:0 -62px;
}
#menus li a.home {
	background-position:0 -93px;
	width:45px;
	padding:0;
	margin-left:0;
	text-indent:-999em;
}
#menus li a.home:hover {
	background-position:0 -124px;
}
#menus li.current_page_item a.home {
	background-position:0 -155px;
}
#menus li a.lastmenu:hover {
	background-position:0 0;
	cursor:default;
}

/* submenu START */
#menus li ul {
	display:none;
	background:#F4F5F7;
	border:solid #A6A6A6;
	border-width:1px 1px 0;
	line-height:0;
	position:absolute;
	z-index:1;
}
#menus li li {
	float:none;
	margin:0;
	padding:0;
	list-style:none;
}
#menus li li a {
	float:none;
	padding:7px 18px 7px 10px;
	text-decoration:none;
	border-bottom:1px solid #DDD;
	margin:0;
	background-image:none;
	height:auto;
	line-height:145%;
	color:#999;
	display:block;
	width:175px;
}
#menus li li a.last {
	border-color:#A6A6A6;
}
#menus li li a:hover, 
#menus li li a.current {
	background-color:#EDEFF0;
	color:#382E1F;
}
#menus li li a.subtitle, 
#menus li li a.subtitle:hover {
	background-image:url(images/arrow.gif);
	background-position:right;
	background-repeat:no-repeat;
}
/* submenu END */

/* content START */
#content {
	background:#FFF url(images/sidesep.png) right repeat-y;
	min-height:670px;
	
}
/* content END */

/* main START */
#main {
	background:#FFF url(images/main_sha.gif) top repeat-x;
	width:656px;
	padding:20px 15px 15px;
	float:left;
	overflow:hidden;
}

#content #main td {
	font-size:12px;
}

#sidebar td {
	font-size:11px;
}

#sidebar th {
	font-size:14px;
}

#sidebar {
	background:#F7F7F7 url(images/sidebar_.gif) top repeat-x;
	width:249px;
	float:right;
	font-size:95%;
	line-height:145%;
	overflow:hidden;
	padding-top:8px;
}
#sidebar li {
	background:url(images/icons.gif) 0 -560px no-repeat;
	padding-left:22px;
	list-style:none;
	margin-top:5px;
	/*font-size:95%;*/
}

#sidebar .content, 
#sidebar li {
	font-size:12px;
}
#centersidebar, 
#northsidebar .widget, 
#southsidebar .widget {
	background:url(images/widgetse.png) bottom no-repeat;
	padding:10px 15px 16px;
}
#centersidebar {
	padding-bottom:6px;
}
#northsidebar, 
#southsidebar {
	font-size:95%;
}
#northsidebar .widget h2, 
#southsidebar .widget h2 {
	margin-bottom:10px;
}
#northsidebar .widget .content p, 
#southsidebar .widget .content p {
	margin-bottom:10px;
}
#westsidebar {
	width:121px;
	float:left;
	padding-right:5px;
	font-size:95%;
	overflow:hidden;
}
#eastsidebar {
	width:129px;
	float:right;
	font-size:95%;
	overflow:hidden;
}
#westsidebar h3, 
#eastsidebar h3 {
	margin-bottom:5px;
}
#westsidebar .widget, 
#eastsidebar .widget {
	margin-bottom:15px;
}
#sidebar .widget_feeds {
	padding:5px 15px 15px;
}

/* footer START */
#footer {
	background:url(images/footer.png) 0 0 no-repeat;
	display:block;
	height:88px;
	border-top:1px solid #CCC;
	font-size:11px;
	line-height:145%;
	width:100%;
}
#footer a {
	color:#2A2A2A;
}
#copyright {
	margin-top:12px;
	margin-left:20px;
}

.user_form_selected {
	color: #333;
}

.user_form_selected:hover {
	color: #FF6633;
}

.userform {
	border-radius: 5px 5px;
	-moz-box-shadow: 0 0 20px #888;
	-webkit-box-shadow: 0 0 20px#888;
	box-shadow: 0 0 20px #888;
	margin: 20px 0px 20px 0px;
	background-image: url('images/ui-bg_diagonals-thick_10_0f0f0f_40x40.png');
	width: 250px;
	height: 250px;
	padding: 15px;
}
.active {
	border-radius: 5px 5px;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	
	border: solid 5px #3D3D3D;
	
}

.postmetadata {
	background-color: #E0E0E0;
	padding: 5px;
	width: 100%;
}

.onoffbutton_in {
	background-image: url('images/button_off.png');
        color: white;
        background-color: #CC0000;
        cursor: pointer;
        border: 1px groove;
        margin: 0px 0px 5px 0px;
        width: 100px;
        height: 25px;
	border-radius: 5px 5px;
	padding: 2px;
		
}

.onoffbutton_out {
	background-image: url('images/button_on.png');
        color: white;
        background-color: #009900;
        cursor: pointer;
        border: 1px groove;
        margin: 0px 0px 5px 0px;
        width: 100px;
        height: 25px;
	border-radius: 5px 5px;
	padding: 2px;
}

.upicv {
	position: relative;
	background-color: #FFFFFF;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

div.scroll {
	max-height: 800px;
	width: 620px;
	overflow: auto;
	padding: 5px;
}

.comment {
    padding-bottom: 5px;
}

.animated_time {
	position: absolute;
	right: 220px;
	top: 360px;
}

.spam_marker {
	margin-bottom: 5px;
}

.rnd {
    border-radius: 5px 5px;
}

.expand {
 cursor: pointer;
 opacity: 0.5;
}

.expand:hover {
 opacity: 0.7;   
}

.spamuser {
    position:  absolute;
    left: 47px;
    top: -13px;
    width: 220px;
    background-color: red;
    color: white;
    box-shadow: 1px 1px 1px #3D3D3D;
  -webkit-box-shadow: 1px 1px 1px #3D3D3D; /* Safari, Chrome */
  -moz-box-shadow: 1px 1px 1px #3D3D3D; /* Firefox */    
}

.inpRezin {  /* обрамляющий блок для поля */
height: 29px;
background: url(images/inputRezin.png); /* длинная картинка в фоне */
width: 440px; /* ширина = ширине формы */
position: relative; /* чтоб внутри блока можно было использовать абсолютное позиционирование с относительными координатами */
overflow: hidden;
}

.newpost_title {
	padding: 15px 0 5px 12px; /* размещаем поле внутри так чтобы текст красиво вписывался */
	border: none;
	background: none;
	width: 95%; /* делаем поле немного короче родительского блока, оставляя место для правого угла */
	height: 20px;
	z-index: 1; /* явно задаем z-слой, чтобы правый угол мог перекрыть поле */
}

.newpost_title:focus {
	outline: none;
}
.rightCorner { /* правый угол поля */
	width: 12px;
	height: 29px;
	background: url(images/inputRight.png); /* изображение правого угла */
	position: absolute; /* используем абсолютное позиционирование */
	top: 0;
	right: -1px; /* чтобы для ие6 не использовать expression для устранения смещения на 1px */
	z-index: 2; /* z-слой выше, чем у поля */
}


	
/*  LOGIN -------------------------------------------------------------------------------- */	

#login-bg	{
	background: url(images/login_bg.jpg) no-repeat top center;
	}
#login-holder	{
	margin: 0px auto 0 auto;
	width: 508px;
	}
#loginbox	{
	background: url(images/loginbox_bg.png) no-repeat;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px;
	}

#login-inner	{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 310px;
	}
#login-inner label	{
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
	 
	}
 .checkbox-size	{
	width:13px;
	height:13px;
	margin: 5px 0;
	 
	}	
#login-inner th	{
	padding: 0 0 6px 0;
	text-align: left;
	width: 95px;
	}
#login-inner td	{
	padding: 0 0 6px 0;
	}
.login-inp {
	background: url('images/inp_login.gif') no-repeat;
	border: none;
	color: #fff;
	font-size: 16px;
	height: 28px;
	padding: 6px 6px 0 10px;
	width: 204px;
	}
#logo-login	{
	float: left;
	height: 35px;
	margin: 145px 0 0 15px;
	}

a.back-login	{
	background: url(images/icon_back_login.gif) no-repeat 0 4px;
	bottom: 30px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 10px;
	position: absolute;
	right: 40px;
	}
a:hover.back-login	{
	color: #fff;
	}
.submit-login	{
	background: url(images/submit_login.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	height: 29px;
	text-indent: -3000px;
	width: 73px;
	}
.submit-login:hover	{
	background: url(images/submit_login.gif) no-repeat 0 -29px;
	}


.duty_hover {
	background-color: #FFFFFF;
	cursor: pointer;
}

.duty_hover:hover {
	background-color: red;
}

.minsk_users {
	position: relative;
	left: 30px;
	top: -45px;
	color: white;
}

.minsk_users:hover {
	cursor: pointer;
	color: red;
	
}

.gomel_users {
	position: relative;
	left: 180px;
	top: -90px;
	color: white;
}


.gomel_users:hover {
	cursor: pointer;
	color: red;
	
}

#minsk_users {
	width: 600px;
	height: 70px;
	position: relative;
	left: 280px;
	top: -65px;
	padding: 5px;
	
}

#gomel_users {
	width: 600px;
	height: 70px;
	position: relative;
	left: 280px;
	top: -65px;
	padding: 5px;
}



table.zebra tbody tr:nth-child(even) {background:#DAF0DC}
table.zebrared tbody tr:nth-child(even) {background: #f0c2ae}
table.zebra2 tbody tr:nth-child(odd) {background:#DAF0DC}