<html>
<head>
<script language="JavaScript" type="text/javascript">
    parent.document.getElementById('card_logotype').src="{{ image }}"
    parent.document.getElementById('save_user_avatar').disabled=""
    parent.document.getElementById('rotate_user_avatar').disabled=""
    parent.document.getElementById('user_image_filters').disabled=""
    parent.document.getElementById('filters_type').disabled=""
    parent.document.getElementById('fon_type').disabled=""
    parent.document.getElementById('fon_user_avatar').disabled=""
    
</script>
</head>
<body>
    
</body>
</html>
