{% extends "projects/base.html" %}

{% block page_title %}{{ block.super }} - Add Requirements to Project{% endblock %}

{% block jquery_ready %}
    $("a#ctrl_sel_all").click(function() {$("input[name ^= form-][name $= -check]").attr('checked', "checked");});
    $("a#ctrl_unsel_all").click(function() {$("input[name ^= form-][name $= -check]").removeAttr('checked');});
{% endblock %}

{% block base_content %}
    <h1>Add a Requirements to {{ project.title }} project</h1>
    <form action="{% url erp_project_add_req prj_id=project.id %}" method="POST">
        {% csrf_token %}
        {{ prj_req_mforms.management_form }}
        <table class="table table-bordered table-hover table-condensed" style="margin-bottom: 1em;">
            <thead>
                <tr>
                    <th class="span1">#</th>
                    <th class="span1">Check<br>
                        <span class="btn-group">
                            <a id="ctrl_sel_all" href="#" class="btn btn-mini" title="check all"><i class="icon-plus"></i></a>
                            <a id="ctrl_unsel_all" href="#" class="btn btn-mini" title="uncheck all"><i class="icon-minus"></i></a>
                        </span>
                    </th>
                    <th class="span3">Requirement</th>
                    <th class="span7">Description</th>
                </tr>
            </thead>
            <tbody>
            {% for req_form in prj_req_mforms %}
                <tr class="control-group{% if req_form.errors %} error{% endif %}">
                    <td>{{ forloop.counter }}{{ req_form.id }}{{ req_form.id.errors }}</td>
                    <td>{{ req_form.check }}</td>
                    <td>{{ req_form.instance.name }}</td>
                    <td>{{ req_form.instance.desc|safe }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="hidden" name="stage" value="validate">
        <div class="btn-group">
            <a href="{% url erp_project prj_id=project.id %}" class="btn"><i class="icon-backward"></i> Back</a>
            <button class="btn btn-primary" type="submit"><i class="icon-hdd"></i> Save</button>
        </div>
    </form>
{% endblock %}
